@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import './variables/variables', './components/header', './components/footer', './components/main';
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-size: 10px;
    // box-sizing: border-box;
}
body {
    font-weight: normal;
    font-family: $font-black-ops;
}
