$color-black: #000;
$color-white: #fff;
$color-night: #082032;
$color-night-soft: #002c4d;
$color-day: #176b87;
$color-day-soft: #64ccc5;
$color-soft: #b5b0b0;
$color-danger: #ff4c29;
$color-success: rgb(1, 181, 1);

$color-wall: #CCC6C0;

$font-black-ops: 'Black Ops One', cursive;
;